build/
build-*/
cmake-build-*/
bin/
lib/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

JOTIFM
JOTIFM.exe
*.out
*.app
*.exe

.vscode/!
.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json
.idea/
.vs/
*.vcxproj
*.sln
*.suo
*.user

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.pch

.DS_Store
Thumbs.db
